<footer>
  <p>スプラトゥーンは任天堂株式会社様の登録商標であり、</p>
  <p>当サイトとは関連企業様を含み一切関係ありません。</p>
  <p>下記は当サイトのソースコードなど独自の内容に関する著作権を示しています。</p>
  <p>Copyright© <%= Time.current.year %> @misokatsusand_ All Rights Reserved.</p>
</footer>
